div.form-group
	label(for='title') Title:
	input(name='title', value=a.title || '').form-control

div.form-group
	label(for='subheading') Intro:
	textarea(name='subheading').form-control.
		=a.subheading || 'Enter the subheader content here.'

div.form-group
	label(for='text') Body:
	textarea(name='text').form-control.
		=a.body || 'Enter the body copy here.'

div.form-group
	label(for='published') Published:
	input(type='checkbox' name='published', value=a.published || 'false').form-control