extends ../layout

block content
	//div.navbar.navbar-fixed-top.navbar-default
	//	i.fa.fa-bars.nav-item.fa-2x
	div.container-fluid
		if (articles.length === 0)
			| There's no published content yet.
		else
			each article, index in articles
				div.row.articles
					div.col-xs-12
						article.hero
							header.title
								h2
									a(href="/articles/#{article.slug}")= article.title
							div.article-overlay
								a(href="/articles/#{article.slug}")
									div.read-more-wrapper
										span.read-more read more
							figure.feature-thumbnail
								img(src="http://lasvegasstrip.jpg.to/")