extends ../layout
block head
	script(type='text/javascript', src='/tinymce/tinymce.js')
	script(type='text/javascript').
		tinymce.init({
			selector: "textarea",
			plugins: "link image media textcolor",
			toolbar: "styleselect | undo redo | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | link image media",
			menu: "none"
		});
block content 
	div.container
		h1 New Article
		div= error
		form(method='post', action='/articles/new', role='form', enctype='multipart/form-data') 
			div.form-group
				label(for='title') Title:
				input(name='title').form-control
			div.form-group
				labe(for='image') Header Image:
				input(type='file', name='image').form-control
				
			div.form-group
				label(for='subheading') Intro:
				textarea(name='subheading').form-control.
					Enter the subheader content here.
			
			div.form-group
				label(for='text') Body:
				textarea(name='text').form-control.
					Enter the body copy here.
			
			div.form-group
				label(for='published') Published:
				input(type='checkbox' name='published').form-control
			
			button(type='submit').btn.btn-default save