body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.notice {
  padding: 1rem;
}
.navbar {
  height: 100%;
  overflow: auto;
  background-color: #00f;
  width: 64px;
}
.navbar .nav-item {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
article {
  height: 400px;
  width: 100%;
/*background-color: #333333*/
}
article header {
  color: #fff;
  width: 100%;
  position: absolute;
  z-index: 999;
  bottom: 10px;
  padding: 20px 20px 0;
}
article header h2 {
  text-align: center;
}
article header h2 a {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}
article header h2 a:hover {
  color: #fff;
  text-decoration: none;
}
article .article-overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: url("/images/article-overlay.png") top left repeat;
  opacity: 0;
  transition: opacity 0.5s;
}
article .article-overlay a {
  display: block;
  width: 100%;
  height: 100%;
}
article .article-overlay a div.read-more-wrapper {
  position: absolute;
  top: 200px;
  left: 50%;
}
article .article-overlay a div.read-more-wrapper span.read-more {
  color: #fff;
  position: relative;
  font-size: 3rem;
  text-align: center;
  padding: 1rem 1.5rem;
  border: 2px solid #fff;
  left: -50%;
}
article div.article-overlay:hover {
  opacity: 1;
  transition: opacity 0.5s;
}
article figure.feature-thumbnail {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
article figure.feature-thumbnail img {
  width: 100%;
}
