body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
.notice
  padding: 1rem

.navbar
	height: 100%
	overflow: auto
	background-color: blue
	width: 64px
	
	.nav-item
		border: 1px solid #000
		border-radius: 1rem
		padding: 0.5rem 1rem
		margin: 1rem
  
article
	height: 400px;
	width: 100%;
	/*background-color: #333333*/
  
	header
		color: #ffffff
		width: 100%
		position: absolute
		z-index: 999
		bottom: 10px
		padding: 20px 20px 0
		h2
			text-align: center
			a
				color: #ffffff
				text-decoration: none
				text-shadow: 1px 1px 1px #333333
		h2 a:hover
			color: #ffffff
			text-decoration: none
	.article-overlay
		display: block
		width: 100%
		height: 100%
		background: url('/images/article-overlay.png') top left repeat
		opacity: 0
		transition: opacity 0.5s
		a
			display: block
			width: 100%
			height: 100%
			div.read-more-wrapper
				position: absolute
				top: 200px
				left: 50%
				span.read-more
					color: #ffffff
					position: relative
					font-size: 3rem
					text-align: center
					padding: 1rem 1.5rem;
					border: 2px solid #ffffff
					left: -50%
	div.article-overlay:hover
		opacity: 1
		transition: opacity 0.5s
	
	figure.feature-thumbnail
		position: absolute
		z-index: -1
		top: 0
		height: 100%
		overflow: hidden
		width: 100%
		
		img
			width: 100%
		