extends ../layout

block page
	- var menu = 'login'
	
block content
	div.container
	h2 Log In
	p.bg-danger.notice= error
	
	div
		form(action='/users', method="post")
			p
				input.form-control(name="email", type="text", placeholder="name@email.com")
			p
				input.form-control(name="password", type="password")
			p
				button.btn.btn-lg.btn-primary.btn-block(type="submit") Log In